.features {
  padding: 50px 20px 60px;

  @media (min-width: $width-tablet) {
    padding: 60px 30px 100px;
  }

  @media (min-width: $width-desktop) {
    padding: 100px 40px 120px;
  }
}

.features__title {
  text-align: center;
  margin: 0;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: $base-primary;
}

.features__subtitle {
  margin: 0;
  margin-bottom: 36px;
  font-size: 24px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $width-tablet) {
    font-size: 42px;
    line-height: 64px;
    margin-bottom: 60px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 80px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $width-tablet) {
    justify-content: center;
    flex-direction: row;
    row-gap: 50px;
    column-gap: 30px;
  }

  @media (min-width: $width-desktop) {
    gap: 30px;
  }
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 52px;
    height: 56px;
    margin-bottom: 10px;
  }

  &--speed::before {
    background-image: url("../../icons/stack.svg#speed")
  }

  &--fit::before {
    background-image: url("../../icons/stack.svg#fit")
  }

  &--energy::before {
    background-image: url("../../icons/stack.svg#energy")
  }

  &--eco::before {
    background-image: url("../../icons/stack.svg#ecology")
  }

  @media (min-width: $width-tablet) {
    display: grid;
    grid-template-columns: 52px 267px;
    column-gap: 20px;
    row-gap: 10px;

    &::before {
      align-self: flex-start;
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }
  }

  @media (min-width: $width-desktop) {
    display: flex;
    max-width: 317px;
    gap: 0;

    &::before {
      align-self: center;
      margin-bottom: 20px;
    }
  }
}

.features__item-title {
  margin: 0;
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 32px;

  @media (min-width: $width-tablet) {
    grid-row: 1 / 2;
    margin: 0;
    font-size: 24px;
    line-height: 36px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 10px;
  }
}

.features__item-description {
  margin: 0;
  text-align: center;

  @media (min-width: $width-tablet) {
    grid-column: 2/ 3;
    grid-row: 2 / 3;
    text-align: start;
    font-size: 16px;
    line-height: 24px;
  }


  @media (min-width: $width-desktop) {
    text-align: center;
  }
}
